body {
    background: linear-gradient(160deg, rgb(81, 0, 131),rgb(0, 98, 116) );
    background-size: 400% 400%;
    min-height: 150vh;
    animation: gradient 15s ease infinite;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
