.navbarCustom nav .nav-wrapper {
    background: linear-gradient(160deg, rgba(255, 0, 0, 0.2) 1%,    rgba(255,255,255,1) 15%);
}
.navTitle {
    background: linear-gradient(to right, #000 50%, rgb(156, 156, 0) 60%, rgb(155, 0, 0) 80%, rgb(0, 57, 131) 95%, #000 100%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* animation: shine 1s linear infinite; */
}

.navTitle:hover {
    animation: shine .5s linear;
}

@keyframes shine {
    to {
        background-position: -200% center;
        background-size: 200%;
    }
}